
Builds/MacOSX/Chorus.xcodeproj/xcuserdata/Mikael.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Builds/MacOSX/Chorus.xcodeproj/project.xcworkspace/xcuserdata/Mikael.xcuserdatad/UserInterfaceState.xcuserstate

Builds/MacOSX/build/Debug/APDelay.component/Contents/MacOS/APDelay
